APScheduler==3.6.3
asgiref==3.8.1
branca==0.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
decorator==5.2.1
Django==4.2
environs==14.1.1
folium==0.19.5
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==3.26.1
numpy==2.2.4
packaging==24.2
pillow==11.1.0
pycparser==2.22
python-dotenv==1.1.0
python-telegram-bot==13.0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tornado==6.4.2
typing_extensions==4.13.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.3.0
xyzservices==2025.1.0