{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop - Оплата заказа</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="header ficb">
                <a href="{% url 'index' %}" class="logo-link">
                    <img src="{% static 'img/logo.svg' %}" alt="FlowerShop" class="logo">
                </a>
                <nav>
                    <ul class="menu ficc">
                        <li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="orderStep">
        <div class="container">
            <div class="order orderStep">
                <div class="order__block">
                    <div class="order_items">
                        <div class="title">Оплата заказа</div>
                        <form action="{% url 'order_step' %}" method="POST" class="order__form orderStep_form">
                            {% csrf_token %}
                            <div class="order__form_block">
                                <div class="order__form_items">
                                    <div class="order__form_intro">Номер карты</div>
                                    <input type="text" name="card_number" class="order__form_input orderStep_form_input"
                                            placeholder="1234 5678 9012 3456" required pattern="\d{4} \d{4} \d{4} \d{4}">

                                    <div class="order__form_item fic">
                                        <input type="number" name="card_month" class="order__form_input orderStep_form_input"
                                               placeholder="ММ" required min="1" max="12">
                                        <input type="number" name="card_year" class="order__form_input orderStep_form_input"
                                               placeholder="ГГ" required min="25">

                                    </div>

                                    <input type="text" name="card_holder" class="order__form_input orderStep_form_input"
                                           placeholder="Имя владельца" required>
                                    <input type="text" name="card_cvc" class="order__form_input orderStep_form_input"
                                           placeholder="CVC" required pattern="\d{3}" maxlength="3">
                                </div>
                                <div class="order__form_items">
                                    <div class="order__form_intro">Ваш e-mail (необязательно)</div>
                                    <input type="email" name="email" class="order__form_input orderStep_form_input"
                                           placeholder="example@mail.com">
                                </div>
                            </div>
                            <div class="order__form_line"></div>
                            <div class="order__form_btns ficb">
                                <button type="submit" class="btn order__form_pay">Оплатить</button>
                                <button type="button" class="btn order__form_btn" onclick="window.location.href='{% url 'order' %}'">Назад</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'img/orderImg.jpg' %}" alt="Доставка цветов" class="order__img">
    </section>

    <footer id="footer">
        <div class="container">
            <div class="footer">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="FlowerShop" class="logo footer__logo">
                </a>
                <nav>
                    <ul class="menu footer__menu ficc">
                        <li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
                        <li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
                    </ul>
                </nav>
                <hr class="line">
                <a href="#" class="footer__poli">Политика конфиденциальности</a>
                <p class="footer_cop">©️2022. FlowerShop. Все права защищены</p>
            </div>
        </div>
    </footer>
</body>
</html>